:root{
    color-scheme: light dark;
    --background-color: #F9F9F9;
    --main-color: #303030;
    --img-shadow-color: gray;
    --secondary-color: #808080;
    --third-color: #DDDDDD;
    --gradient-color-1: red;
    --gradient-color-2: blue;
    overscroll-behavior: none;
}
@font-face {
    font-family: Poppins;
    src: url("/Fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: PoppinsBold;
    src: url("/Fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
    font-family: PoppinsItalic;
    src: url("/Fonts/Poppins/Poppins-LightItalic.ttf");
}



/* General styling */
* {

    color: var(--main-color);
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    overscroll-behavior-y: none;
    font-family: Poppins;
    background-color: var(--background-color);
}

body{
    margin: 0;
    width: auto;
}
.navigation-bar{
    position: fixed;
    width: 100%;
    top:0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: larger;
    box-shadow: 0 0 5px gray;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-content: center;
    justify-items: center;
    align-items: center;
    z-index: 2;
}
p{
    text-align: justify;
    line-height: 1.6;
}
*::selection{
    color:var(--background-color);
    background-color: var(--main-color);
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
section > *{
    width: 100%;
}
.main{
    margin-top: 3.5rem;
    padding: 1.5rem 15%;
}
#main{
    display: flex;
    justify-content: center;
}



/* Text styling */
h1.name{
    font-size:3rem;
}
h1{
    font-size: xx-large;
    margin-top: 3rem;
}
h2{
    font-size: larger;
}
h3{
    font-size: large;
}
h1, h2, h3{
    width: fit-content;
    background-image: linear-gradient(145deg, var(--gradient-color-1), var(--gradient-color-2));
    background-size: cover;
    -webkit-background-clip: text;
    color:transparent;
    font-family: PoppinsBold;
    margin-bottom: 1rem;
    text-align: center;
}

.main-link{
    font-size: x-large;
}
.fancy-link{
    font-weight: bolder;
    text-decoration: none;
    color:var(--main-color);
    background-image: linear-gradient(90deg, var(--gradient-color-1), var(--gradient-color-2));
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition-property: all;
    transition-duration: 350ms;
    transition-timing-function: ease;
    margin: 0px 0px;
    width: fit-content;
    min-width: min-content;
}
.fancy-link:hover{
    background-size: 100% 2px;
}
.link{
    font-weight:bolder;
    font-family: PoppinsBold;
    font-style: italic;
    text-decoration: none;
    color:var(--main-color);
    background-image: linear-gradient(90deg, var(--gradient-color-1), var(--gradient-color-2));
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition-property: all;
    transition-duration: 350ms;
    transition-timing-function: ease;
    margin: 0px 0px;
    width: fit-content;
    min-width: min-content;
}
.link:hover{
    background-size: 100% 2px;
}
span.wrap{
    border-color: var(--main-color) !important;
}


/* Layout styling */
table.prog-lang{
    margin-left: 2rem;
}
ul{
    margin-top:0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
li{
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
li > i{
    margin: 0px .5rem;
}
table{
    border-collapse: collapse ;
}
table.skills,
table.contact,
table.education{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}
table.education > tbody > tr > td.time,
table.contact > tbody > tr > td.type{
    border-right: solid transparent 1rem;
}
td{
    border-top: solid transparent .5rem;
    border: solid transparent .5rem;
}
th{
    text-align: end;
}
span.spec{
    color: var(--secondary-color);
    font-style: italic;
    font-weight: 0;
    font-family: PoppinsItalic;
}
.flex-center{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-center-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.flex-center-row-forever{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
a.lang-ver{
    margin-left: .5rem;
    margin-right: .5rem;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: -1;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input[type="checkbox"] + .slider {
    background-image: linear-gradient(145deg, var(--gradient-color-1), var(--gradient-color-2));
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



/* Images styling */
.gallery{
    display:grid;
    grid-template-columns: 3% 94% 3%;
    place-items: center;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.gallery > a{
    position:inherit;
    cursor: pointer;
}
img.curr-img{
    width: 94%;
}
.canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.canvas-java{
    height: auto;
}
.canvas-pbx{
    height: auto;
}
img{
    cursor: pointer;
    border-radius: .5rem;
    box-shadow: 0px 5px 15px var(--img-shadow-color);
}

.flex-center > img{
    margin: 1.5rem 0px;
}
ul{
    width: auto;
}
.cv-grid{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(5, 12rem);
    grid-template-rows: max-content;
    width: 100%;
    height: max-content;
    gap: 1rem;
    text-align: center;
}
.cv-grid > div{
    place-content: center;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}
.cv-grid > .exp{
    grid-row: 1 / 2;
    grid-column: 3 / 6
}
.cv-grid > .edu{
    grid-row: 2 / 4;
    grid-column: 3 / 6;
    display: flex;
    flex-direction: column;
}
.cv-grid > .skills{
    grid-row: 3 / 6;
    grid-column: 1 / 3;
}
.cv-grid > .interests{
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}
.cv-grid > .certificates{
    grid-row: 6 / 7;
    grid-column: 1 / 5;
}
.cv-grid > .activities{
    grid-row: 4 / 6;
    grid-column: 3 / 6;
}
.cv-grid > .activities > div{
    display: flex;
    flex-direction: row;
}
div.cv-grid > div > h2{
    margin-top: 0px;
}
div.cv-grid > div > * ,
div.cv-grid > div > * > tbody{
    padding: 0px;
}
.cv-grid > .edu > div{
    margin-top: 1rem;
}
.cv-grid > .skills > fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: .5px var(--secondary-color) solid;
    width: 90%;
    padding-top: .5rem;
}
.cv-grid > .skills > fieldset > span{
    padding-bottom: .5rem;
}
.cv-grid > .skills > fieldset > fieldset{
    border-radius: 1rem;
    border: none;
    margin-bottom: .5rem;
}

.double-size{
    display: flex;
    flex-direction: column;
}
p,
ul,
tbody,
p.my-description,
div.education-grid,
div.contact-flex,
div.exp-grid{
    background-color: var(--third-color);
    border-radius: 1rem;
    padding: 1rem;
}
div.exp-grid{
    display: grid;
    place-content: center;
    gap: .25rem 0rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    max-width: 90%;
    width: max-content;
    height: fit-content;
    text-align: center;
    margin-bottom: 1em;
}
div.education-grid{
    display: grid;
    place-content: center;
    gap: 1rem 0rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 43rem;
    width: max-content;
    height: fit-content;
    margin-bottom: 1em;
}
div.education-grid > div.double-size{
    grid-column: 2 / span 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contact-flex{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:.5rem;
    max-width: 43rem;
    width: fit-content;
    margin-bottom: 2rem;
}
.contact-flex > div{
    display: flex;
    justify-content: start;
    align-items: center;
}
.contact-margin-top{
    margin-top: 0rem;
}
.small-grid{
    grid-column: 1 / 2;
}
.large-grid{
    grid-column: 2 / span 2;
}
span{
    text-align: center;
}
div.my-pic{
    margin:1.5rem;
}
div.my-pic > img.my-pic{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 5px 15px var(--img-shadow-color);
}

div.flex-center.nested{
    margin: 0px;
}

p.vertical{
    width: 40%;
    margin:1.5rem;
}



/* Modal styling */
.modal{
    padding:0;
    max-width: 90vw;
    max-height: 90vh;
    background-color: transparent;
    align-items:center;
    border:none;
    overflow: hidden;
}
.modal::backdrop{
    background: black;
    opacity:.8;
}
.modal > .close-button{
    position: absolute;
    right: 0px;
    top: 0px;

    background-color: var(--background-color);
    border: 2px solid var(--main-color);
    color: var(--main-color);
    cursor: pointer;
    padding:.5rem;
    border-radius: 1rem;
}
.modal > img{
    cursor:auto;
    width: auto;
    max-width: 88vw;
    height: auto;
    max-height: 88vh;
    border-radius: 1rem;
    
}




/* FontAwesome / socials styling */
div#social-media{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
label{
    text-align: center;
    margin-bottom: 1rem;
}
label.switch{
    margin: 0rem .75rem;
}
.fa {
    padding: 0px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: ease;
  }
  
  /* Add a hover effect if you want */
  .fa-socials:hover {
    box-shadow: var(--background-color) 0px 0px 0px 3px,
    var(--main-color) 0px 0px 0px 6px;
  }
  
  /* Set a specific color for each brand */
  
  /* GitHub */
  .fa-github {
    padding: 0px;
    font-size: 75px;
    width: 75px;
    height: 75px;
    background: var(--background-color);
    color: var(--main-color);
  }
  .fa-small {
    padding: 0px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    color: var(--main-color);
  }

.fa-linkedin {
    padding: 20px;
    background: #007bb5;
    color: white;
  }

  .fa-facebook {
    padding: 20px;
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    padding: 20px;
    background: #55ACEE;
    color: white;
  }



  /* Dropdown styles */
  .dropbtn{
    padding: .2rem;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: ease;
  }
  .dropbtn.active {
    box-shadow: var(--background-color) 0px 0px 0px 3px,
    var(--main-color) 0px 0px 0px 6px;
  }
  
  .dropdown {
    position: relative;
    display: none;
    z-index: -1;
  }
  
  .dropdown-content {
    --yOffset: 9.1rem;
    --width: 13rem;
    position: absolute;
    background-color:var(--background-color);
    min-width: var(--width);
    overflow: visible;
    text-align: center;
    box-shadow: 2px -3px 0px 2px var(--background-color),
    0px 1px 4px gray;
    padding-top: .25rem;
    padding-bottom: .5rem;
    transform: translateY( var(--yOffset))!important;
    right: -13rem;
    border-bottom-left-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 350ms ease-in-out;
    z-index: -1;
  }
  
  .dropdown-content a {
    color: var(--main-color);
    padding: 4px 14px;
    margin: 8px 0px;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
    background-color: var(--background-color);
}
  .dropbtn{
    cursor: pointer;
  }
  .dropdown-content.show {
    --xOffset: calc(10rem - var(--width));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0rem;
    /* transform: translate(var(--xOffset), var(--yOffset))!important; */
}






/* @media(prefers-color-scheme: dark){
    :root{
        color-scheme: dark light;
        --background-color: #212121;
        --main-color: #F9F9F9;
        --gradient-color-1: rgb(255, 100, 255);
        --gradient-color-2: #6fcfff;
    }
} */
@media(max-width: 1050px) {
    .main-link{
        grid-column: 2 / span 3;
    }
    .navigation-bar{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .main{
        margin-top: 4.5rem;
        padding: 1.5rem 15%;
    }
    html{
        scroll-padding-top: 6.7rem;
    }
    section#about.flex-center-row{
        flex-direction: column;
    }
    .flex-center-row{
        flex-direction: column;
    }
    div.my-pic{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
        margin-bottom: 0px;
    }
    section#about > div.flex-center{
        margin-top: 0px;
    }
    div.my-pic > img.my-pic{
        width: 50%;
    }
    p.vertical{
        width: auto;
    }
    .nav-link{
        display: none;
    }
    .dropdown {
        display: inline-block;
    }
    .cv-grid{
        grid-template-columns: 35% 45%;
        grid-template-rows: max-content;
    }
    .cv-grid > .exp{
        grid-row: 1 / 2;
        grid-column: 1 / 4
    }
    .cv-grid > .edu{
        grid-row: 2 / 3;
        grid-column: 1 / 4;
    }
    .cv-grid > .skills{
        grid-row: 3 / 5;
        grid-column: 1 / 3;
    }
    .cv-grid > .certificates{
        grid-row: 3 / 4;
        grid-column: 3 / 4;
    }
    .cv-grid > .interests{
        grid-row: 4 / 6;
        grid-column: 3 / 4;
    }
    .cv-grid > .activities{
        grid-row: 5 / 6;
        grid-column: 1 / 3;
    }
}



@media(max-width: 850px) {
    .main{
        margin-top: 4rem;
        padding: 1.5rem 10%;
    }
    html{
        scroll-padding-top: 4rem;
    }
    .dropdown-content {
      transform: translate(-9rem, var(--yOffset));
    }
    div.education-grid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(9, 1fr);
        gap: 0px 0px;
        width: fit-content;
    }
    div.education-grid > div.double-size{
        grid-column: 1 / span 3;
        grid-row: span 2;
        margin-bottom: .5rem;
        display: flex;
        flex-direction: column;
        justify-content:start;
        align-items: center;
    }
    div.education-grid > div.single-size{
        grid-column: 1 / span 3;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: .5rem;
    }
    .contact-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 43rem;
        width: fit-content;
        margin-bottom: 2rem;
    }
    .contact-margin-top{
        margin-top: 1rem;
    }
}



@media(max-width: 780px){
    /* .main-link{
        grid-column: 1 / span 2;
    }
    .navigation-bar{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    } */
    .main{
        margin-top: 4rem;
        padding: 1.5rem 5%;
    }
    .dropdown-content {
    }
    .cv-grid{
        grid-template-columns: 85%;
        grid-template-rows: max-content;
    }
    .cv-grid > .exp{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .cv-grid > .edu{
        grid-row:2/3;
        grid-column: 1/2;
    }
    .cv-grid > .skills{
        grid-row: 3 / 4;
        grid-column: 1/2;
    }
    .cv-grid > .certificates{
        grid-row: 5/6;
        grid-column: 1/2;
    }
    .cv-grid > .interests{
        grid-row: 4/5;
        grid-column: 1/2;
    }
    .cv-grid > .activities{
        grid-row: 6/7;
        grid-column: 1/2;
    }
    .cv-grid > .activities > div{
        flex-direction: column;     
        gap: 1rem;;   
    }
}